<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>문제 추가하기</title>
    <h1><문제 추가하기></h1>
    <h2> </h2>

    <form action="" method="get">
        <div class = ""> <input type="text" name="quiz" class="txt" placeholder=" 문제를 입력하세요!" style="width:700px;height:60px;font-size:30px; border-style: solid;"></div>
    <h2> </h2>
        <div class = ""> <input type="text" name="option1" class="txt" placeholder=" 1번 보기를 입력하세요!" style="width:700px;height:60px;font-size:30px; border-style: solid;"></div>
        <h2> </h2>
     <div class = ""><input type="text" name="option2" class="txt" placeholder=" 2번 보기를 입력하세요!" style="width:700px;height:60px;font-size:30px; border-style: solid;"></div>
        <h2> </h2>
     <div class = ""><input type="text" name="option3" class="txt" placeholder=" 3번 보기를 입력하세요!" style="width:700px;height:60px;font-size:30px; border-style: solid;"></div>
        <h2> </h2>
     <div class = ""><input type="text" name="option4" class="txt" placeholder=" 4번 보기를 입력하세요!" style="width:700px;height:60px;font-size:30px; border-style: solid;"></div>
        <div class="start_btn">
        <h2> </h2>
     <div class = ""><input type="text" name="answer" class="txt" placeholder=" 정답 번호를 입력하세요!" style="width:700px;height:60px;font-size:30px; border-style: solid;"></div>
        <h3> </h3>
        <input class="btn" type="submit" value="제출" style="width:100px;height:50px;font-size:30px;background: aqua; color: black"/>
            <h2> </h2>
            <h2> </h2>
    </div>
</form>
    <form>
<a href="http://127.0.0.1:8000">
    <input type="button" value="첫 화면으로 돌아가기" style=width:400px;height:50px;font-size:30px;background-color:darkblue;color:white>
    </a>
</form>
</head>
<body>

</body>
</html>
