<h1><오픈소스 과제: 퀴즈 풀기></h1>
<h2>학번 입력후 시작 버튼을 누르면 시험이 시작 됩니다.</h2>
<form action="" method="get">
    <div class = "enduser-name"><input type="text" name="name" class="txt" placeholder=" 학번을 입력하세요!" style="width:300px;height:60px;font-size:30px; border-style: solid;"></div>
    <div class="start_btn">
        <h2> </h2>
        <h3> </h3>
        <input class="btn" type="submit" value="시작" style="width:100px;height:50px;font-size:30px;background: aqua; color: black"/>
    </div>
</form>

<form action="add" method="get">
<input class="btn" type="submit" value="문제 출제" style="width:150px;height:50px;font-size:30px;background: yellowgreen; color: black"/>
</form>
